*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
module-common/libs/
module-common/src/main/java/
module-common/src/main/res/drawable/
module1/libs/
module1/src/main/java/
module1/src/main/res/drawable/
module2/libs/
module2/src/main/java/
module2/src/main/res/drawable/
pic/
